
    <div class="c-activity anim js-waypoint" data-title="Moja działalność" id="moja">
        <header class="o-header">
            <h2>Moja działalność</h2>
        </header>
        
        <div class="o-tabs js-tabs">
            <ul class="o-tabs__content js-content">
                
                <li class="js-tab">
                    <div class="o-cols">
                        <div class="o-cols__item">
                            <article class="o-article">
                                
<h3><span>Działam w&nbsp;polskim</span> <span>brandingu</span></h3>

<p>Od lat działam na rzecz polskiego brandingu. Promuję i&nbsp;upowszechniam wiedzę brandingową. Działam na rzecz integracji polskiego brandingu. Jestem m.in. założycielem i członkiem zarządu IBRA Instytutu Brandingowego, inicjatorem Przewodnika Bradingowego.</p>

<p>&nbsp;</p>

<p>W instytucie IBRA stoimy ramię w ramię
z&nbsp;agencjami i&nbsp;organizacjami po stronie dobrego brandingu.</p>

<p>&nbsp;</p>

<p>Chcesz zobaczyć co aktualnie robimy? Oczekujesz wsparcia w&nbsp;przygotowaniu lub
w&nbsp;odbiorze procesu brandingowego lub rebrandingowego, to zajrzyj na naszą stronę.</p>

<p>&nbsp;</p>
                                
                                <img src=<%= require("./img/assets/logo-ibra.svg") %> alt="ibra">
                                
                                <p>&nbsp;</p>
                                
                                <p>
                                    <a href="#" class="o-more">
                                        <span>Dowiedz się więcej</span>
                                    </a>
                                </p>
                            </article>
                        </div>
                        
                        <div class="o-cols__item">
                            
                            <h3><span>Działam w&nbsp;polskim</span> <span>brandingu</span></h3>

                            <figure class="o-photo">
                                <img 
                                    srcset="./img/activity/tab-1/kotowicz.jpg 1x, ./img/activity/tab-1/kotowicz@2x.jpg 2x"
                                    src="./img/activity/tab-1/kotowicz.jpg" alt="Bartek Kotowicz">
                                    
                                    <figcaption>
                                        <img 
                                            srcset="./img/activity/tab-1/text.png 1x, ./img/activity/tab-1/text.png 2x"
                                            src="./img/activity/tab-1/text.jpg" 
                                            width="371"
                                            alt="Jestem osobą, która długo bezczynnie nie usiedzi. Dlatego działam i sprawiam, aby się działo. Oczywiście nie sam. Zawsze wespół z zespół.">
                                    </figcaption>
                            </figure>
                        </div>
                    </div>
                </li>
               
                <li class="is-active js-tab ">
                    <div class="o-cols">
                        <div class="o-cols__item">
                            <article class="o-article">
                                
<h3><span>Robię w polskim</span> <span>brandingu</span></h3>

<p>Pracuje w jednym rzędzie
z&nbsp;organizacjami i ich liderami przy tworzeniu lub transformacji marek, dlatego dobrze rozumiem prozę polskich procesów brandingowych.
Jako parter i dyrektor zarządzajacy agencji brandingu strategicznego Engram na bieżąco uzupełniam wiedze o nowe doświadczenia
z&nbsp;rynku.</p>

<p>&nbsp;</p>

<p>
W Engramie wspieramy duży i średni biznes. Jeśli szukasz partnera do brandingu lub rebrandingu, który tworzy przemyślane marki, to wejdź i przekonaj się jak możemy Tobie pomóc.
</p>
                                <p>&nbsp;</p>
                                
                                <img src=<%= require("./img/assets/logo-engram.svg") %> alt="engram">
                                
                                <p>&nbsp;</p>
                                
                                <p>
                                    <a href="#" class="o-more">
                                        <span>Dowiedz się więcej</span>
                                    </a>
                                </p>
                            </article>
                        </div>
                        
                        <div class="o-cols__item">
                            <h3><span>Robię w polskim</span> <span>brandingu</span></h3>
                            
                            <figure class="o-photo">
                                <img 
                                    srcset="./img/activity/tab-2/kotowicz.jpg 1x, ./img/activity/tab-2/kotowicz@2x.jpg 2x"
                                    src="./img/activity/tab-2/kotowicz.jpg" alt="Bartek Kotowicz">
                                                                        
                                    <figcaption>
                                        <img 
                                            srcset="./img/activity/tab-2/text.png 1x, ./img/activity/tab-2/text.png 2x"
                                            src="./img/activity/tab-2/text.jpg" 
                                            width="337"
                                            alt="Od kilkunastu lat mówię o sobie: 'Porzucił karierę w instytucjach europejskich na rzecz branży brandingowej'. I wiecie co?
To niezmiennie ma sens.">
                                    </figcaption>
                            </figure>
                        </div>
                    </div>
               </li>               
            </ul>
            
            <ul class="o-tabs__nav js-nav">
                <li class="js-tab ">Działam w&nbsp;polskim brandingu</li>
                <li class="js-tab is-active">Robię w polskim brandingu</li>
            </ul>
        </div>        
    </div>
