
    <div class="c-contact anim js-waypoint" id="kontakt" data-title="Kontakt">
        <div class="o-cols">
            <div class="o-cols__item">
                <header class="o-header">
                    <h2>Kontakt</h2>
                    <h3>Dzień dobry!<br>
                        Dobry w brandingu.</h3>
                </header>

                <address>
                    <p>Bartek Kotowicz</p>
                    <p>&nbsp;</p>
                    <p>
                        <a href="mailto:dziendobry@bartekkotowicz.pl">dziendobry@bartekkotowicz.pl</a>
                    </p>
                    <p>
                        <a href="tel:0048696263683">+48 696-26-36-83</a>
                    </p>
                    <p>&nbsp;</p>
                    
                    <% include social %>
                </address>
            </div>
            
            <div class="o-cols__item">
                
                <% include contactform %>
                
            </div>
        </div>
    </div>
