
    <footer class="c-footer">
        
        <p>Design: <a href="https://bartoszpeters.pl/" rel="noopener" target="_blank">Bartosz Peters</a>. Development: <a href="https://cutme.pl" rel="noopener" target="_blank">Cutme</a>.
    </footer>
