
        <nav class="c-nav js-nav">
            <div class="c-nav__menu js-menu">
				<ul>
                    <li class="js-item">
                        <a href="#o-mnie">O mnie</a>
                        
                        
                    </li>
                    
                    <li class="o-photo o-photo--omnie">
                    	<img srcset="./img/nav/o-mnie.jpg 1x, ./img/nav/o-mnie@2x.jpg 2x"
                        	 src="./img/nav/o-mnie.jpg" alt="">
                    </li>
                    
                    <li class="js-item">
                        <a href="#jak">Jak mogę Ci pomóc</a>
                    </li>
                    
                    <li class="o-photo o-photo--jak">
                    	<img srcset="./img/nav/jak.jpg 1x, ./img/nav/jak@2x.jpg 2x"
                        	 src="./img/nav/jak.jpg" alt="">
                    </li>
                    
                    <li class="js-item">
                        <a href="#moja">Moja działalność</a>
                    </li>
                    
                    <li class="o-photo o-photo--moja">
                    	<img srcset="./img/nav/moja.jpg 1x, ./img/nav/moja@2x.jpg 2x"
                            src="./img/nav/moja.jpg" alt="">
                    </li>
                    
                    <li class="js-item">
                        <a href="#kontakt">Kontakt</a>
                    </li>
                    
                    <li class="o-photo o-photo--kontakt">
                    	<img srcset="./img/nav/kontakt.jpg 1x, ./img/nav/kontakt@2x.jpg 2x"
                             src="./img/nav/kontakt.jpg" alt="">
                    </li>
                </ul>
            </div>
        </nav>
