
    <div class="c-offer anim js-waypoint" data-title="Jak mogę Ci pomóc?" id="jak">
        <div class="c-offer__nav">
            <header class="o-header">
                <h2>Jak mogę Ci pomóc?</h2>
            </header>
            
            <div class="swiper-container js-offerNavSlider">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">Konferencje</div>
                    <div class="swiper-slide">Warsztaty</div>
                    <div class="swiper-slide">Panele</div>
                    <div class="swiper-slide">Wykłady</div>
                    <div class="swiper-slide">Mentoring</div>
                    <div class="swiper-slide">Konsultacje</div>
                </div>
            </div>
        </div>

        <div class="c-offer__photos anim">
        	<div class="swiper-container js-offerPhotosSlider">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img 
                            srcset="./img/offer/conferences.jpg 1x, ./img/offer/conferences@2x.jpg 2x"
                            src="./img/offer/conferences.jpg" 
                            class="desktop" 
                            alt="konferencje">
                            
                        <img 
                            srcset="./img/offer/conferences--mobile.jpg 1x, ./img/offer/conferences--mobile@2x.jpg 2x"
                            src="./img/offer/conferences--mobile.jpg" 
                            class="mobile" 
                            alt="konferencje">
                    </div>
                    
                    <div class="swiper-slide">
                        <img 
                            srcset="./img/offer/workshops.jpg 1x, ./img/offer/workshops@2x.jpg 2x"
                            src="./img/offer/workshops.jpg" 
                            class="desktop" 
                            alt="Warsztaty">
                            
                        <img 
                            srcset="./img/offer/workshops--mobile.jpg 1x, ./img/offer/workshops--mobile@2x.jpg 2x"
                            src="./img/offer/workshops--mobile.jpg" 
                            class="mobile" 
                            alt="Warsztaty">     
                    </div> 
                    
                    <div class="swiper-slide">
                        <img 
                            srcset="./img/offer/panel.jpg 1x, ./img/offer/panel@2x.jpg 2x"
                            src="./img/offer/panel.jpg" 
                            class="desktop" 
                            alt="Panele">
                        
                        <img 
                            srcset="./img/offer/panel--mobile.jpg 1x, ./img/offer/panel--mobile@2x.jpg 2x"
                            src="./img/offer/panel--mobile.jpg" 
                            class="mobile" 
                            alt="Panele">
                    </div>
                    
                    <div class="swiper-slide">
                        <img 
                            srcset="./img/offer/conferences.jpg 1x, ./img/offer/conferences@2x.jpg 2x"
                            src="./img/offer/conferences.jpg" 
                            class="desktop" 
                            alt="Wykłady">
                            
                        <img 
                            srcset="./img/offer/conferences--mobile.jpg 1x, ./img/offer/conferences--mobile@2x.jpg 2x"
                            src="./img/offer/conferences--mobile.jpg" 
                            class="mobile" 
                            alt="Wykłady">
                    </div> 
                    
                    <div class="swiper-slide">
                        <img 
                            srcset="./img/offer/mentoring.jpg 1x, ./img/offer/mentoring@2x.jpg 2x"
                            src="./img/offer/mentoring.jpg" 
                            class="desktop" 
                            alt="Mentoring">
                            
                        <img 
                            srcset="./img/offer/mentoring--mobile.jpg 1x, ./img/offer/mentoring--mobile@2x.jpg 2x"
                            src="./img/offer/mentoring--mobile.jpg" 
                            class="mobile" 
                            alt="Mentoring">
                    </div>
                    
                    <div class="swiper-slide">
                        <img 
                            srcset="./img/offer/consultantes.jpg 1x, ./img/offer/consultantes@2x.jpg 2x"
                            src="./img/offer/consultantes.jpg" 
                            class="desktop" 
                            alt="Konsultacje">
                            
                        <img 
                            srcset="./img/offer/consultantes--mobile.jpg 1x, ./img/offer/consultantes--mobile@2x.jpg 2x"
                            src="./img/offer/consultantes--mobile.jpg" 
                            class="mobile" 
                            alt="Konsultacje">
                    </div>
                </div>
                
                <div class="swiper-pagination"></div>
            </div>
        </div>
    </div>
