
    <div class="c-partners anim">
        <h2>Pomogłem w&nbsp;nauce polskiego brandingu na zaproszenie m.in.:</h2>
        
        <ul class="c-partners__list c-partners__list--partners">
            <li>
                <img 
                    srcset="./img/partners/urzad-patentowy.png 1x, ./img/partners/urzad-patentowy@2x.png 2x"
                    src="./img/partners/urzad-patentowy.jpg" alt="urząd patentowy">
            </li>
            
            <li>
                <img 
                    srcset="./img/partners/lukasiewicz.png 1x, ./img/partners/lukasiewicz@2x.png 2x"
                    src="./img/partners/lukasiewicz.jpg" alt="lukasiewicz">
            </li>
            
            <li>
                <img 
                    srcset="./img/partners/gfkm.png 1x, ./img/partners/gfkm@2x.png 2x"
                    src="./img/partners/gfkm.jpg" alt="gfkm">
            </li>
            
            <li>
                <img 
                    srcset="./img/partners/wsaib.png 1x, ./img/partners/wsaib@2x.png 2x"
                    src="./img/partners/wsaib.jpg" alt="wsaib">
            </li>
            
            <li>
                <img 
                    srcset="./img/partners/da-vinci.png 1x, ./img/partners/da-vinci@2x.png 2x"
                    src="./img/partners/da-vinci.jpg" alt="da-vinci">
            </li>
            
            <li>
                <img 
                    srcset="./img/partners/kpt.png 1x, ./img/partners/kpt@2x.png 2x"
                    src="./img/partners/kpt.jpg" alt="kpt">
            </li>
            
            <li>
                <img 
                    srcset="./img/partners/ppnt.png 1x, ./img/partners/ppnt@2x.png 2x"
                    src="./img/partners/ppnt.jpg" alt="ppnt">
            </li>
            
            <li>
                <img 
                    srcset="./img/partners/infoshare.png 1x, ./img/partners/infoshare@2x.png 2x"
                    src="./img/partners/infoshare.jpg" alt="infoshare">
            </li>
        </ul>
        
        <ul class="c-partners__list c-partners__list--media anim">
            <li>
                <img src=<%= require("./img/media/bankier.svg") %> alt="bankier">
            </li>
            
            <li>
                <img src=<%= require("./img/media/puls-biznesu.svg") %> alt="puls biznesu">
            </li>
            
            <li>
                <img src=<%= require("./img/media/marketer.svg") %> alt="marketer+">
            </li>
            
            <li>
                <img src=<%= require("./img/media/marketing.svg") %> alt="marketing w praktyce">
            </li>
        </ul>
    </div>
