
         <ul class="o-social">
            <li>
                <a href="https://pl.linkedin.com/in/bartekkotowicz" class="icon-linkedin" target="_blank"></a>
            </li>
            <li>
                <a href="https://www.facebook.com/bkotowicz" class="icon-facebook" target="_blank"></a>
            </li>
        </ul>
