
    <div class="c-topbar js-topbar">
        <% include social %>
        
        <a href="index.html" class="o-logo">
            <img src=<%= require("./img/assets/logo-kotowicz.svg") %> class="default" width="187" height="24" alt="Bartek Kotowicz">
            <img src=<%= require("./img/assets/logo-kotowicz--white.svg") %> class="white" width="187" height="24"  alt="Bartek Kotowicz">
        </a>
        
        
        
        <button class="hamburger hamburger--arrow js-hamburger" type="button">
            <span class="hamburger-box">
                <span class="hamburger-inner"></span>
            </span>
        </button>  
    </div>
    
    <% include nav %>
