.c-nav {
    @include z-index(nav);
    margin: 0 0 0 auto;

    a {
        white-space: nowrap;
        padding: 25px 0;
        font-size: rem(34);
        color: white;
        
        @media ( max-width: $base + px ) {
        	@include responsive-font(base(34), rem(30));
        }
        
        &:hover {
            .desktop & {
//                color: $c-orange;
            }
        }
    }
    
    &__menu {
        width: 100%;
        
        
        @media ( min-width: $tablet_portrait + 1px ) {
            margin-left: grid(310);	
        }
        
        @media ( max-width: $tablet_portrait + px ) {
        	padding-left: 20px;
        }

        & > ul {
            @extend %flex;
            @extend %flex-y;
            height: 100%;
            
            & > li {
                &:nth-of-type(odd) {
                    @extend %anim;
    //                @extend %rel; 
                    border-bottom: 2px solid rgba(black, .06);               
                }
            }
        }
    }
    
	
	display: none;
    position: fixed;
    width: 100%;
    height: 100vh;
    left: 0;
    top: 0;

    background-color: $c-menu;
    transition: all 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transform: translate3d(100%, 0, 0);
    
    &.is-animated {
        transform: translate3d(-100%, 0, 0);
    }
    
    .c-nav {
        &__menu {
            @extend %flex;
            align-items: center;
            margin-top: 100px;
            height: calc(100% - 100px);
            padding-bottom: 60px;
            overflow: hidden;
            -webkit-overflow-scrolling: touch;
            	
            & > ul {
                width: 100%;
                display: block;
                height: auto;
                margin-bottom: 40px;
                
                li {
                    &:nth-of-type(odd) {
                        &:hover {
                            & + .o-photo {
                                .desktop & {    
                                    @media ( min-width: $tablet_portrait + 1px ) {
                                        opacity: 1;
                                        transform: translate3d(0, 0, 0);                                    	
                                    }                        
                                }
                            }
                        }
                           
                        ul {
                        	height: 0;
                        	overflow: hidden;
                        }
                        
                        a {
                            display: inline-block;
                        }
                    }
                }
            }
        }
    }
    
    &.is-block {
        display: flex;
    }
    
    &.is-visible {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
    
   
    .o-wrap {
        height: 100%;
        position: static;
    }
    
    
    .o-photo {
        position: fixed; z-index: -1;
        width: 449px;
        height: 541px;
        transition: all 200ms ease-out;
        opacity: 0;
        transform: translate3d(0, 20px, 0);
        opacity: 0;
        
        @media ( max-width: $base + px ) {
        	width: base(449);
        }
        
        &--jak {
            left: 851px;
            top: 110px;

            @media ( max-width: $base + px ) {
                left: 60%;
                top: 14%;
            }
        }
        
        &--kontakt {
            left: 67px;
            top: 271px;
            
            @media ( max-width: $base + px ) {
                left: 5%;
                top: 34%;
            }
        }
        
        &--moja {
            left: 579px;
            top: 105px;
            
            @media ( max-width: $base + px ) {
                left: 45%;
                top: 10%;
            }
        }
        
        &--omnie {
            left: 104px;
            top: 237px;
            
            @media ( max-width: $base + px ) {
                left: 8%;
                top: 30%;
            }
        }
    }
}