$c-bg:         #E5E5E5;
$c-menu:       #2D2D34;

$c-black:      #1A1A1A;

$c-blue:       #3675F0;

$c-orange:     #FFAE60;

$c-gray-01:    #898989;
$c-gray-02:    #CECECE;
$c-gray-03:    #DBDEE7;

$c-red:        red;