<% include ./src/includes/head %>
<body>

    <% include ./src/includes/cover %>
    <% include ./src/includes/topbar %>
    <% include ./src/includes/about %>
    <% include ./src/includes/offer %>    
    <% include ./src/includes/activity %>
    <% include ./src/includes/partners %>
    <% include ./src/includes/contact %>
    <% include ./src/includes/footer %>
    
    
    <div class="c-waypoints">
        <i class="bar js-bar"></i>
        <p class="js-currentpoint">O mnie</p>
    </div>

</body>
</html>
